{% extends 'aplicacion/index.html' %}
<!DOCTYPE html>
{% load static %}

{% block contenido %}

<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">Inicio de Sesión</h2>

         </header>
        <div class="blog-post-body">
    
            <h5 class="my-3">Formulario:</h5>
        
            <div class="main-wrapper">
    
            {{mensaje}}

                <form action="" method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                    {{form.as_p}}

                    <button type="submit"> Registrar </button>
                    <button><a href='login'>Si ya tiene usuario, use el Login.</a></button>
    
                </form>
            </div>
        </div>
    </div>
</article>
{% endblock %}